@model IEnumerable<IdentityRole>

@{
    ViewData["Title"] = "Roles";
}

<h1>Roles</h1>

<partial name="_RoleForm" model="new RoleFormViewModel()" />

<table class="table table-striped mt-4">
    <thead>
        <tr class="bg-primary text-white">
            <th>Id</th>
            <th>Role Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model)
        {
            <tr>
                <td>@role.Id</td>
                <td>@role.Name</td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}